<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prototype.start"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="prototype.start.TabHostActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="prototype.activities.BookStoreActivity" >
        </activity>
        <activity android:name="prototype.activities.StatisticActivity" >
        </activity>
        <activity android:name="prototype.activities.SocialActivity" >
        </activity>
        <activity
            android:name="prototype.activities.HomeFlippedActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name="prototype.activities.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="unspecified" >
        </activity>
        <activity android:name="prototype.activities.ReadingActivity" >
        </activity>
        <activity android:name="prototype.activities.ExtendedStatisticsActivity"></activity>
    </application>

</manifest>